{% extends 'base.html'%} {% load staticfiles %} {% block content%}


<link rel="stylesheet" href="{%static 'css/custom.css' %}">

<div id="about-page" >

	

	<P> PITCH is an online platform that helps musicians find gigs. A venue posts an event that require a musician and musicians can apply to play at that event.</P>

	<h2>How to use Pitch effectively</h2>

	
		<p>Once registered, Please go to your profile and click on update profile.</p>
		<h3>Select User type</h3>
			<p>If you are a Venue, please selece <em>Venue</em>	 from Type user down menu on the update profile page.</p>
			<p>If you are a Musician, please selece <em>Musician</em> from Type user down menu on the update profile page.</p>
		<h3>Upload a Profile Picture</h3>
			<p>Let everyone see you.</p>
		<h3>Update your Location</h3>
			<p>Available events are based on your location</p>

	
		<button type="button" onclick="window.location.href='/accounts/login/'" class="btn btn-danger btn-lg">Login</button>
		</div>
</div>
{% endblock %}
