{% load staticfiles %} 

<!DOCTYPE html>
<html>
<title>PITCH| {{user.username}}</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
<link href="{%static 'css/custom.css'% }" rel="stylesheet" type="text/css"  />
</head>

<body class="w3-light-grey w3-content " style="max-width:1600px; margin-top: 20px; min-height: 100%">

    <!-- Sidenav/menu -->
    <nav class="w3-sidenav w3-white w3-animate-left w3-center w3-text-grey w3-collapse w3-top" style="z-index:3;width:300px;font-weight:bold" id="mySidenav"><br>
         <div id="logo" >
            <img src="{%static 'images/logo.png'%}" width="200px" height="150px">
        </div>
        <h3 class="w3-padding-64">{{user.first_name}}<br> {{user.last_name}}</h3>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-padding w3-hide-large">CLOSE</a>
        <a href="/" onclick="w3_close()" class="w3-padding">PITCH</a>
        <a href="/board/" onclick="w3_close()" class="w3-padding">GO TO BOARDS</a>
        {% if not current_user %}
        <a onclick="window.location.href='/home/profile/{{pk}}/' ">UPDATE PROFILE</a>
        {% endif %}
        <a href="#about" onclick="w3_close()" class="w3-padding"><strong>ABOUT ME</strong></a>
        <a href="#contact" onclick="w3_close()" class="w3-padding">CONTACT</a>
        {% if user.userprofile.type_user == 'Venue' %}
        <a href="/my_events" onclick="w3_close()" class="w3-padding">MY EVENTS</a>
        {% endif %}
        {% if user.userprofile.type_user == 'Musician' %}
        <a href="/my_ads" onclick="w3_close()" class="w3-padding ">MY ADS</a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="/logout/" onclick="w3_close()" class="w3-padding">LOGOUT</a>
        {% else %}
        {% endif %}
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
        <span class="w3-left w3-padding">{{user.username}}</span>
        <a href="javascript:void(0)" class="w3-right w3-btn w3-white" onclick="w3_open()">☰</a>
    </header>

    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" id="w3-main" style="margin-left: 300px;">
        <!-- About section -->
            <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about" style="
            background: #43C6AC; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #43C6AC , #191654); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #43C6AC , #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: fill;">
            <h4><b>ABOUT ME</b></h4> {% if profile_pic.url != None %}
            <img src="{{profile_pic.url}}" class="w3-image w3-padding-32" width="600" height="650" style="border-radius:50px"> {% else %}
            <img src="https://cdn0.iconfinder.com/data/icons/people-12/24/Anonymous-1-512.png" class="w3-image w3-padding-32" width="300" height="350"> {% endif %}

            <div class="w3-content w3-justify" style="max-width:600px">
                {% if user.userprofile.type_user == "Musician" %}
                <h4>{{user.username}}: {{user.userprofile.type_user}}</h4>
                <p>{{user.userprofile.bio}}</p>
                <p>Email: {{user.email}}</p>
                <p>Phone: {{user.userprofile.phonenumber}}</p>
                {% if user.userprofile.soundcloud_username %}
                <p style="font-size: 20px">
                    Check out my SoundCloud!
                </p>
                <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2F{{soundcloud_username}}&color=orange_white&size=56" style="width: 56px; height: 56px;"></iframe>
                {% endif %}
                <p>
                    Availability: {{user.userprofile.available}}
                </p>
                <hr class="w3-opacity">
                <h4 class="w3-padding-16">Type of Music I Play</h4>
                <p class="w3-wide">{{user.userprofile.genre}}</p>
                <p><button class="w3-btn w3-light-grey w3-padding-large w3-margin-top w3-margin-bottom w3-hover-black">Download Resume</button></p>
                <hr class="w3-opacity">
                <div class="w3-row-padding" style="margin:0 -16px">
                {% else %}
                <h4>{{user.username}}: {{user.userprofile.type_user}}</h4>
                <p>{{user.userprofile.bio}}</p>
                <p>Email: {{user.email}}</p>
                <p>Phone: {{user.userprofile.phonenumber}}</p>
                <p>
                  Website: {{user.userprofile.website}}
                </p>
                <p>
                    Submitted Events:
                    {% if all_events %}
                      <ul>
                        {% for event in all_events %}
                        <li><a href="/board/events/{{event.id}}/">{{event.event_name}}</a></li>
                        {% endfor %}
                      </ul>
                      <p>
                        <a href="/board">Go Back to Boards</a>
                      </p>
                    {% else %}
                      <p>No events are available.</p>
                    {% endif %}
                </p>
                <hr class="w3-opacity">

                <h4 class="w3-padding-16">Type of Music We Look For:</h4>
                <p class="w3-wide">{{user.userprofile.genre}}</p>
                <p><button class="w3-btn w3-light-grey w3-padding-large w3-margin-top w3-margin-bottom w3-hover-black">Apply to play at this Venue</button></p>
                <hr class="w3-opacity">
                <div class="w3-row-padding" style="margin:0 -16px">
                {% endif %}

                </div>
            </div>
        </div>

        <!-- Contact section -->
        <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
            <div class="w3-content" style="max-width:600px">
                <h4 class="w3-center"><b>Contact Me</b></h4>
                {% if user.userprofile == "Musician"%}
                <p>Do you want me to play at your venue? Fill out the form and fill me in with the details :)</p>
                <form action="form.asp" target="_blank">
                    <div class="w3-group">
                        <label>Name</label>
                        <input class="w3-input w3-border" type="text" name="Name" required>
                    </div>
                    <div class="w3-group">
                        <label>Email</label>
                        <input class="w3-input w3-border" type="text" name="Email" required>
                    </div>
                    <div class="w3-group">
                        <label>Message</label>
                        <input class="w3-input w3-border" type="text" name="Message" required>
                    </div>
                    <button type="submit" class="w3-btn-block w3-padding-large w3-black w3-margin-bottom">Send Message</button>
                </form>
                    {% else %}
                    <p>Are you interested in {{user.username}}? Fill out the form and we will contact you, if you are chosen! :)</p>
                <form action="form.asp" target="_blank">
                    <div class="w3-group">
                        <label>Name</label>
                        <input class="w3-input w3-border" type="text" name="Name" required>
                    </div>
                    <div class="w3-group">
                        <label>Email</label>
                        <input class="w3-input w3-border" type="text" name="Email" required>
                    </div>
                    <div class="w3-group">
                        <label>Message</label>
                        <input class="w3-input w3-border" type="text" name="Message" required>
                    </div>
                    <button type="submit" class="w3-btn-block w3-padding-large w3-black w3-margin-bottom">Send Message</button>
                </form>
                {% endif %}
            </div>
        </div>

    </div>

    <script>
        // Script to open and close sidenav
        function w3_open() {
            document.getElementById("mySidenav").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidenav").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }
    </script>


</body>


</html>

