{%extends 'base.html' %} {% load staticfiles %}

<link href="{%static 'css/customCss.css'% }" rel="stylesheet" type="text/css"  />
<link rel="stylesheet" type="text/css" href="{% static 'slideshow.css' %} "/>

{% block content%}
<!-- Main Content -->

<div class="container">
  <div class="row" >

         <div id="venue_posts" style="border-radius: 6%; text-align: center;">

            {% if events %}
              <p>Upcoming Events</p>
            {% for event in events|slice:"5" %}

                <ul>
                  <li>
                   <p>{{event.event_name}} on {{event.event_date}} <em>@</em> <br> </p>

                  </li>
                </ul>
            {% endfor %}
            {% endif %}
      </div>
      <div id="musician_posts">


        {% if users %}
              <p>who's playing</p>
            {% for users in users|slice:"5" %}
              <ul>
                <li>
                 <p> {{user.name}}</p>

                </li>
              </ul>
            {% endfor %}
            {% endif %}



        {% if ads %}
              <p>Recent Ads</p>
            {% for ad in ads|slice:"5" %}
              <ul>
                <li>
                 <p> {{ad.musician_name}} <br/> {{ad.ad_description_short}} </p>

                </li>
              </ul>
            {% endfor %}
            {% endif %}

      </div>
 </div>

  </div>

  <!-- FOLLOWING SLIDESHOW ISNT WORKING AS OF YET.
<div class="slideshow-container">


        <div class="images">
          <img src="{%static 'images/slide2.jpg' %}">
          <div class="caption"> Caption</div>
        </div>

        <div class="images">
          <img src="images/moriarty.jpg">
          <div class="caption"> Caption</div>
         </div>
        <div class="images">
          <img src="images/moriarty.jpg">
          <div class="caption"> Caption</div>
         </div>
         <div class="images">
          <img src="images/moriarty.jpg">
          <div class="caption"> Caption</div>
         </div>


<a class="next" onclick="nextSlide(1)">&#10095;</a>
<a class="prev" onclick="prevSlide(1)">&#10094;</a>

</div>
-->








{% endblock %}
