{% extends 'boardbase.html' %} 
{% load staticfiles %} {% block title %}Profile{% endblock %} {% block head %} {% endblock %} {% block content %}


  
        {% if all_ads %}
        <ul>
            {% for ad in all_ads %}
            {% if ad.musician_name.username == user.username %}
            <li><a href="/talent_ads/{{ad.id}}/applicants/">{{ad.posting_name}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>

        {% else %}
        <p>No ads are available.</p>
        <p> <a href="/board/ad_submit/"> Post Ads here </a></p>


        {% endif %}



</body>
{% endblock %}
