{%extends 'base.html' %} {% load staticfiles %} {% block content%}
   <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %} ">

    <link rel="stylesheet" type="text/css" href="{% static 'css/slideshow.css' %} ">

<style type="text/css">
  /* style for landing page */
#venue_posts {


    background: #43C6AC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #43C6AC , #191654); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #43C6AC , #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 45%;
    height: 450px;
    float: left;
    color: white;
    border-radius: 60%;


}

#musician_posts{
    background: #43C6AC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffd89b , #19547b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffd89b , #19547b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    width: 45%;
    float: right;
    height: 450px;
    border-radius: 6%;  
    text-align: center;

}


#venue_posts a {
  color: white;
}
#venue_posts li {
  color: white;
  list-style: none;
}
#musician_posts li{
  list-style: none;
}
.slideshow{
  margin: auto;
  border-style: dotted;
  margin-top: 20px;
}

.slideshow figure img{
  margin: auto;
  width: 80%;

}

</style>
<!-- Main Content -->
<div class="container">
  <div class="row" >
   
         <div id="venue_posts" style="border-radius: 6%; text-align: center;">
            {% if events %}
              <p>Upcoming Events</p>
            {% for events in events|slice:"5" %}

                <ul>
                  <li>
                   <p>on {{events.event_date}} <em>@</em> {{events.event_name}} <br> {{events.event_description_short }}</p>
                   
                  </li>
                </ul>
            {% endfor %}                              
            {% endif %} 
      </div>
      <div id="musician_posts">
        
        {% if users %}
              <p>Upcoming Events</p>
            {% for users in users|slice:"5" %}
              <ul>
                <li>
                 <p> {{user.username}}</p>
                 
                </li>
              </ul>
            {% endfor %}                              
            {% endif %} 
      
      

      </div>
    </div>

    <div class="slideshow">
        <figure>
          <img src="{%static 'images/slide1.jpg' %} " width="600" />
          <figcaption>"band" at "venue" </figcaption>
        </figure>
      </div>
    </div>



{% endblock %}
