{% extends 'board/base.html'%} {% load staticfiles %} {% block content%}

<head>
  <link href="{% static 'css/board.css'%} " rel="stylesheet">
</head>

<body>
  <p>
    <a href="/profile/{{name}}">{{name}}</a>
  </p>
  <p>
    {{long_description}}
  </p>
  <p>
    {{start_availability}}
  </p>
  <p>
    {{end_availability}}
  </p>
  {% if ad_image %}
  <p>
    <img src="{{ad_image.url}}" />
  </p>
  {% endif %}
  <form action='/board/apply_for_ad/' method='post'> {% csrf_token %}
    <input type="hidden" name="app_ad" value="{{ad.id}}" />
    <input type="submit" value="Apply Now!" />
  </form>
  <p>
    <a href="/board/talent_ads">Go Back to Musician Ads</a>
  </p>
</body>
{% endblock %}
