{% extends 'board/base.html'%} {% load staticfiles %} {% block content%}

<head>
  <link href="{% static 'css/board.css'%} " rel="stylesheet">

   <link href="{% static 'css/board.css'%} " rel="stylesheet">
   <link href="{%static 'css/custom.css' %}" rel="stylesheet" type="text/css"  />

</head>

<body>
  <h1>Submit New Events or Look for Talent </h1>

  <p class="board">
    <a class="board" href="/board/events">Events Board</a>
  </p>
{% if user.userprofile.type_user == 'Venue' %}
  <p class="board">
    <a  class="board" href="/board/event_submit">Submit a new Event</a>
  </p>
{% endif %}
  <!--
  <p>
    <a href="/board/job_posts"><span style="font-size : 28px">Open Jobs</span></a>
  </p>
  <p>
    <a href="/board/job_submit">Submit a new Job</a>
  </p>
  <p>
  -->

   <p class="board"> <a  class="board" href="/board/talent_ads">Talent Ads</a></p>

    {% if user.userprofile.type_user == 'Musician' %}
  <p class="board">
    <a  class="board" href="/board/ad_submit">Submit a new Ad</a>
  </p>
{% endif %}
<form action="search_results" method="GET">
    <br><br>
    <input id="search_input"type="text" name="search" placeholder="Search.." value="{{ query }}" />
    <br><br>
    <input type="submit" class="btn btn-primary" value="SUBMIT" name="q"></input>
</form>
</body>
{% endblock %}
