{% extends 'board/base.html'%} {% load staticfiles %} {% block content%}

<head>
    <link href="{% static 'css/board.css'%} " rel="stylesheet">
    <style type="text/css">
        li {
            list-style-type: none;
            text-align: left;
            font-size: 18px;
        }

    </style>
</head>

<body>
    <div class="hit-the-floor">Events Uploaded By Venues</div><br><br>
    <div style="font-size: 18px;">
    {% if all_events %}
    <ul style="list-style: none; font-size:18px;">
        {% for event in all_events %}
        <li><a href="/profile/{{event.event_user}}">{{event.event_user}}</a> <em>posted </em><a href="/board/events/{{event.id}}/">{{event.event_name}}</a></li>
        {% endfor %}
    </ul>
    <p>
        <a href="/board">Go Back to Boards</a>
    </p>
    {% else %}
    <p>No events are available.</p>
    <p>
        <a href="/board">Go Back to Boards</a>
    </p>
    </div>
</body>
{% endif %} {% endblock %}
