/* style for landing page */
#venue_posts {


background: #43C6AC; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #43C6AC , #191654); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #43C6AC , #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 45%;
		height: 450px;
		float: left;
		color: white;
}

#musician_posts{
		background: #43C6AC; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #ffd89b , #19547b); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #ffd89b , #19547b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: white;
        width: 45%;
		float: right;
		height: 450px;
}


#venue_posts a {
	color: white;
}

.slideshow{
	margin: auto;
	border-style: dotted;
	margin-top: 20px;
}

.slideshow figure img{
	margin: auto;
	width: 80%;

}





/* PROFILE PAGE */
#profile_nav {
	background-color: green;
}