
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

/******************STYLE FOR LANDING PAGE *************************/
#landing-header{
background-image: url(../images/pitchIndex.jpg);

}


#venue_posts {
    background-color: rgba(1,32,37, 1);
    width: 40%;
    margin-left: 40px;
    height: 450px;
    float: left;
    color: white;
    border-radius: 6%;
    text-align: center;

}

#musician_posts{
  background-color: rgba(1,32,37, 1);
  width: 40%;
  float: right;
  margin-right:  40px;
  height: 450px;
  border-radius: 6%;
    text-align: center;
    color: white;
}


#venue_posts a {
  color: white;
}

#venue_posts li {
  color: white;
  list-style: none;
}

#musician_posts li{
  list-style: none;
}



/*style for user homepage */
body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family:  sans-serif;
    }

.w3-third img {
        margin-bottom: -6px;
        opacity: 0.8;
        cursor: pointer;
    }

.w3-third img:hover {
        opacity: 1;
    }

.user-background {
    background: #43C6AC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #43C6AC , #191654); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #43C6AC , #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: fill;
}

#w3-main{
      margin-left:300px;
}


/* style for board.html */
.board{

 font-size: 18px;
 text-decoration: none;

}

/* event_long.html*/

#map {
        height: 400px;
        width: 100%;
       }

.event_submit_form{
text-align: left;
margin-left: 500px;
}

.board-base-body{
  max-width:1600px; margin-top: 20px; bottom: 0; min-height: 100%;
  background: #43C6AC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43C6AC , #191654); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43C6AC , #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: fill; bottom: 0px; height: 100%;

}
.input[type=text] {
    width: 140px;
		height: 50px;
		color: black;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 50%;
}
#search_input{
	color: black;
}


/**************** UPDATE PROFILE PAGE *****************/
.updatePage-background{
  background: #43C6AC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43C6AC , #191654); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43C6AC , #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: fill; bottom: 0px; height: 100%;
  color: white;
  align-content: left;

}
.updatePage-form form{
  color:white;
 text-align: center;
 border:0;
 border-bottom: 4px;

  }

/**************SLIDESHOW*******************/

.slideshow{
  position: relative;
  width: 90%;
  height: 400px;
  margin: 35px auto;
}
.slideshow figure{
  margin: 0;
  width:  90%;
  height: 100%;
  background: #000;
  position: absolute;
}
 .slideshow img{
  box-shadow: 0 0 .5px #666;
  width: 100%;
 
 }
.slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.slideshow-attr{
  width: 100%;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.slideshow-attr a{
  color: #666;
}
.slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 30s 25s infinite;
}
figure:nth-child(2) {
  animation: xfade 30s 20s infinite;
}
figure:nth-child(3) {
  animation: xfade 30s 15s infinite;
}
figure:nth-child(4) {
  animation: xfade 30s 10s infinite;
}
figure:nth-child(5) {
  animation: xfade 30s 05s infinite;
}
figure:nth-child(6) {
  animation: xfade 30s 0s infinite;
}


@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*****************CALENDAR*****************/

#calendar {
  width: 100%;
  margin: 0 auto;
}

//************************************FOOTER *********************/

footer{
  clear: both;
  position: fixed;
  bottom-margin: 0;
  font: 12px;
}