<!-- base.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>PITCH| {{user.username}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<link href="{%static 'css/customCss.css' %}" rel="stylesheet" type="text/css"  />




<body class="w3-light-grey w3-content board-base-body"  >

    <!-- Sidenav/menu -->
    <nav class="w3-sidenav w3-white w3-animate-left w3-center w3-text-grey w3-collapse w3-top" style="z-index:3;width:300px;font-weight:bold;"  id="mySidenav" class="board-base-body"><br>
        <h3 class="w3-padding-64">{{user.first_name}}<br> {{user.last_name}}</h3>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-padding w3-hide-large">CLOSE</a>
        <a href="/" onclick="w3_close()" class="w3-padding">PITCH</a>
        <a href="/home/" onclick="w3_close()" class="w3-padding">HOME</a>
        
        
  
        <a href="/logout/" onclick="w3_close()" class="w3-padding">LOGOUT</a>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
        <span class="w3-left w3-padding">{{user.username}}</span>
        <a href="javascript:void(0)" class="w3-right w3-btn w3-white" onclick="w3_open()">☰</a>
    </header>
    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- Page Header
    <header class="intro-header" style="background-image: url('{% static 'images/pitchIndex.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>PITCH</h1>
                        <hr class="small">
                        <span class="subheading">Connecting Musicians and Venues</span>
                    </div>
                </div>
            </div>
        </div>
    </header>-->

  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px; ">
        <!-- About section -->
        <div class="w3-container  w3-center w3-text-light-grey w3-padding-32" id="about" >
     
        <h1>{% block head %}{% endblock %}</h1> {% block content %}{% endblock %}
      </div>
    </div>

</body>



</center>
<script>



{% block script %}{% endblock %}

</html>
