{% extends 'board/base.html'%} {% load staticfiles %} {% block content%}

<head>
  <link href="{% static 'css/board.css'%} " rel="stylesheet">
</head>

<body>
  <h1> Board Page </h1>

  <p>
    <a href="/board/events"><span style="font-size : 28px">Events Board</span></a>
  </p>
  <p>
    <a href="/board/event_submit">Submit a new Event</a>
  </p>
  <p>
    <a href="/board/job_posts"><span style="font-size : 28px">Open Jobs</span></a>
  </p>
  <p>
    <a href="/board/job_submit">Submit a new Job</a>
  </p>
  <p>
    <a href="/board/talent_ads"><span style="font-size : 28px">Talent Ads</span></a>
  </p>
  <p>
    <a href="/board/ad_submit">Submit a new Ad</a>
  </p>
</body>
{% endblock %}
