{% extends 'board/base.html'%} {% load staticfiles %} {% block content%}

<head>
  <link href="{% static 'css/board.css'%} " rel="stylesheet">
</head>

<body>
  <p>
    <a href="/profile/{{user_posted}}">{{user_posted}}</a>
  </p>
  <p>
    {{name}}
  </p>
  <p>
    {{long_description}}
  </p>
  <p>
    {{date}}
  </p>
  {% if event_image %}
  <p>
    <img src="{{event_image.url}}" />
  </p>
  {% endif %}
  <p>
    <a href="/board/events">Go Back to Events</a>
  </p>
  <form action='/board/apply_for_event/' method='post'> {% csrf_token %}

    <input type="submit" value="Apply Now!" />
  </form>
<!--   <form action="#" method="get">
    <input type="submit" class="btn" value="Click" name="mybtn">
  </form> -->
<!--   <button onclick="call_counter({{browser_id}});">
            Application Submission
  </button> -->
</body>
{% endblock %}

{% block script %}
<!-- $(function(){
     $('form').on('submit', function(e){
         e.preventDefault();
         $.ajax({
             url: $(this).attr('action'),
             method: $(this).attr('method'),
             success: function(data){ $('#target').html(data) }
         });
     });
}); -->
<!-- <script>
  function call_counter(pk) {
    window.open(url);
    $.get('apply_for_event/'+pk+'/', function (data) {
      alert("application submitted!");
    });
  }
</script> -->
{% endblock %}
