{% extends 'board/base.html'%} {% load staticfiles %} {% block content%}


<head>
  <link href="{% static 'css/board.css'%} " rel="stylesheet">
</head>

{% if all_events %}
<body>
  <ul>
    {% for event in all_events %}
    <li><a href="/profile/{{event.event_user}}">{{event.event_user}}</a> <em>posted </em><a href="/board/events/{{event.id}}/">{{event.event_name}}</a></li>
    {% endfor %}
  </ul>
  <p>
    <a href="/board">Go Back to Boards</a>
  </p>
{% else %}
  <p>No events are available.</p>
  <p>
    <a href="/board">Go Back to Boards</a>
  </p>
</body>
{% endif %} {% endblock %}
