{% extends 'board/base.html'%} {% load staticfiles %} {% block content%} {% if latest_posts_list %}

<head>
  <link href="{% static 'css/board.css'%} " rel="stylesheet">
</head>

<body>
  <ul>
    {% for post in latest_posts_list %}
    <li><a href="/board/job_posts/{{post.id}}/">{{post.posting_name}}</a></li>
    {% endfor %}
  </ul>
  <p>
    <a href="/board">Go Back to Boards</a>
  </p>
  {% else %}
  <p>No jobs are available.</p>
  <p>
    <a href="/board">Go Back to Boards</a>
  </p>
</body>
{% endif %} {% endblock %}
