{% extends 'board/base.html'%} {% load staticfiles %} {% block content%}
<head>
  <link href="{% static 'css/board.css'%} " rel="stylesheet">
</head>

{% if all_ads %}
<body>
  <ul>
    {% for ad in all_ads %}
    <li>{{ad.musician_name}}<a href="/board/talent_ads/{{ad.id}}/"> 

    

    {{ad.posting_name}}</a></li>
    
    {% endfor %}
  </ul>
  <p>
    <a href="/board">Go Back to Boards</a>
  </p>
  {% else %}
  <p>No ads are available.</p>
  <p>
    <a href="/board">Go Back to Boards</a>
  </p>
</body>
{% endif %} {% endblock %}
