{% extends "base.html" %} {% block content %}
<br>
<div style="width: 300px; margin: 0 auto; font-size: 18px;">
    <h2 style="color:#669999">Pitch: User Login</h2>
    <form class="form" method="post">
        {% csrf_token %}
        <label>Username: <input type="text" placeholder="Username" name="username"></label>
        <br>
        <label>Password: <input type="password" placeholder="Password" name="password"></label>
        <br>
        <br>
        <button type="submit" value="Login" id="login-button" onclick="window.location.href='/home" class="btn btn-danger btn-lg">Login</button>
        <button type="button" onclick="window.location.href='/register/' " class="btn btn-danger btn-lg">Register</button>
    </form>
</div>
<br><br><br> {% endblock %}
