{% extends "base.html" %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% block title %} Pitch:GigFinder Login {% endblock %}
            {% block head %} Login {% endblock %}
            {% block content %}
            {% if form.errors %}
            <h2>Your Username and Password did not match! Please try again.</h2> {% endif %}

            <form class="form" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username"> <br>
                <input type="password" placeholder="Password" name="password"><br> <br>
                <button type="submit" value="Login" id="login-button" onclick="window.location.href='/home">Login</button>
                <button type="button" onclick="window.location.href='/register/' ">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
