{% extends "base.html" %}
{% block head %}User Registration{% endblock %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           	
			    <form method="post" action=".">{% csrf_token %}

		        	<table border="0">
        			    {{ form.as_table }}
			        </table>
			        <button type="submit" value="Register">Register</button>
    	    		<button type="button" onclick="window.location.href='/'">Login</button>
			    </form>
			</div>
		</div>
</div>

{% endblock %}
